<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.absli.client.organization.testcases.CreateAClientOrga"/>
      <class name="com.absli.client.organization.testcases.ClientOrganizationWithGradeAndGST"/>
      <class name="com.absli.client.organization.testcases.ClientOrganizationWithOutGST"/>
      <class name="com.absli.client.organization.testcases.ClientOrganizationWithGST"/>
      <class name="com.absli.client.organization.testcases.ClientOrganizationWithGradeAndWithOutGST"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
